.Job-component{
    text-align: center;
    font-family: $main-font;
    font-size: 1.1em;
    color: #333;
    //display: flex;
    flex-direction: column;
    height: 100vh;
  }

.resumeHeader{
    border-bottom: 2px solid black;
    text-align: center;
    font-family: $main-font;
    font-size: 1.3em;
    color: rgb(3, 9, 58);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}


/* Social Icons stuff */

a.social{
  margin: 0 1rem;
  transition: transfrom 250ms;
  display: inline-block;

}

a.social:hover {
  transform: translateY(-2px);
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: #C13584;
}

a.github{
  color:  black;
}

a.linkedin{
  color: #0e76a8 ;
}

