.calculator {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		'screenName screenName screenName screenName'
		'solveNumbers solveNumbers clearNumbers clearNumbers'
		'numbers numbers numbers minNumbers'
		'numbers numbers numbers mulNumbers'
		'numbers numbers numbers divNumbers'
		'numbers numbers numbers addNumbers';
	border: 1px solid gray;
	border-radius: 25px;
}

.solve {
	grid-area: solveNumbers;
	border: 10px black;
	border-radius: 25px;
	background-color: whitesmoke;
	font-weight: regular;
	font-size: 50px;
}

.number-list {
	grid-area: numbers;
	margin: 0;
	padding: 0 50px 0 70px;
	align-items: center;
}

.screen {
    grid-area: screenName;
    border: 10px black;
    border-radius: 25px;
	height: 100px;
	width: 100%;
	background-color: gray;
	min-width: 100px;
	font-size: 100px;
}

.divide {
	grid-area: divNumbers;
	font-size: 50px;
	background-color: $orange;
}

.subtract {
	grid-area: minNumbers;
	font-size: 80px;
	background-color: $orange;
}

.multiply {
	grid-area: mulNumbers;
	font-size: 80px;
	background-color: $orange;
}

.add {
	grid-area: addNumbers;
	font-size: 80px;
	background-color: $orange;
}

.calc-number {
	float: left;
	font-size: 50px;
	padding: 8px;
	border: whitesmoke 1px solid;
	border-radius: 25px;
	width: 50px;
	box-shadow: 1px 2px $blue;
	margin: 6px;
}

.calc-number:nth-of-type(4),
.calc-number:nth-of-type(7),
.calc-number:nth-of-type(10) {
	clear: left;
}

.calc-number:nth-of-type(10) {
	border: none;
	box-shadow: none;
}

.calculator-container {
	background-color:black;
	margin: 0;
	padding: 250px;
	width: 500px;
	height: 620px;
}

.clearNumbers {
	grid-area: clearNumbers;
	background-color: blue;
	font-weight: regualr;
	font-size: 50px;
}
