.calculator {
	display: grid;
	grid-template-columns: repeat(4, 1fr) auto;
	grid-template-areas:
		'screenName screenName screenName screenName'
		'clearNumbers clearNumbers clearNumbers clearNumbers'
		'numbers numbers numbers minNumbers'
		'numbers numbers numbers mulNumbers'
		'numbers numbers numbers divNumbers'
		'numbers numbers numbers addNumbers'
		'numbers numbers numbers solveNumbers';
	border: 1px solid black;
}

.number-list {
	grid-area: numbers;
	margin: 0;
	// padding: 0 50px 0 70px;
	align-items: center;
}

.screen {
	grid-area: screenName;
	width: 100%;
	font-size: 5rem;
	height: 80px;
	border: none;
	background-color: #252525;
	color: #fff;
	text-align: right;
}

.solve {
	grid-area: solveNumbers;
	border: 10px black;
	background-color: $orange;
	font-weight: regular;
	font-size: 50px;
	cursor: pointer;
}

.clearNumbers {
	grid-area: clearNumbers;
	background-color: blue;
	font-weight: regualr;
	font-size: 50px;
	cursor: pointer;
}

.divide {
	grid-area: divNumbers;
	font-size: 50px;
	background-color: $orange;
	cursor: pointer;
	border: grey 1px solid;
}

.subtract {
	grid-area: minNumbers;
	font-size: 50px;
	background-color: $orange;
	cursor: pointer;
	border: grey 1px solid;
}

.multiply {
	grid-area: mulNumbers;
	font-size: 50px;
	background-color: $orange;
	cursor: pointer;
	border: grey 1px solid;
}

.add {
	grid-area: addNumbers;
	font-size: 50px;
	background-color: $orange;
	cursor: pointer;
	border: grey 1px solid;
}

.calc-number {
	font-size: 50px;
	border: grey 1px solid;
	width: 33.33%;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	height: 25%;
}

.calc-number:nth-of-type(4),
.calc-number:nth-of-type(7),
.calc-number:nth-of-type(10) {
	clear: left;
}

.calc-number:nth-of-type(10) {
	border: none;
	box-shadow: none;
}

.calculator-container {
	background-color: whitesmoke;
	margin: 14px;
	padding: 0px;
	width: 500px;
	height: 620px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}
